---
import Layout from '../layouts/Layout.astro';
import NewYearCountdown from '../components/NewYearCountdown.astro';
---

<Layout title="关于我 | Kangyuan's Blog">
	<article class="max-w-2xl mx-auto py-12">
		<header class="text-center mb-12">
			<h1 class="text-4xl font-serif font-bold mb-4">About Me</h1>
			<p class="text-xl text-text-muted-light dark:text-text-muted-dark italic font-serif">
				装修中！
			</p>
		</header>
		
		<div class="prose prose-lg dark:prose-invert mx-auto font-sans">
			<NewYearCountdown />
			

			
			<hr />
			
			<h3>联系我</h3>
			<ul>
				<li>Email: <a href="mailto:your-email@example.com">your-email@example.com</a></li>
				<li>GitHub: <a href="https://github.com/yourusername">@yourusername</a></li>
			</ul>

		</div>
	</article>
</Layout>
